/* Use the following command to auto-compile the sass file to css:
sass --watch styles.scss build/styles.css

Use BEM convention for naming selectors
*/
/* Sass allows constants in CSS */
$cell-border-color: #BBADA0;
$primary-color: #DFB68C;
$white-font: #FEFCF4;

/* Class Selectors */
.cell {
  border: 5px solid $cell-border-color;
  background-color: #CDC0B4;
  height: 150px;
  width: 150px;
  padding: 0;
}

.col {}

.controls {
  margin: 25px 0;
}

.tile--two {
  background-color: #EEE4DA;
}

.tile--four {
  background-color: #EDE0C8;
}

.tile--eight {
  background-color: #F2B179;
  color: $white-font;
}

.tile--onesix {
  background-color: #F59563;
  color: $white-font;
}

.tile--threetwo {
  background-color: #F67C5F;
  color: $white-font;
}

.tile--sixfour {
  background-color: #F65D3B;
<<<<<<< HEAD
=======
  color: $white-font;
>>>>>>> a6209df8a54ea79d160ba2e8add5f5db143b4d4f
}

.tile--onetwoeight {
  background-color: #EDCE71;
<<<<<<< HEAD
=======
  color: $white-font;
>>>>>>> a6209df8a54ea79d160ba2e8add5f5db143b4d4f
}

.tile--twofivesix {
  background-color: #F0CC5A;
<<<<<<< HEAD
=======
  color: $white-font;
>>>>>>> a6209df8a54ea79d160ba2e8add5f5db143b4d4f
}

.tile--onezerotwofour {
  background-color: #EDC53F;
<<<<<<< HEAD
=======
  color: $white-font;
>>>>>>> a6209df8a54ea79d160ba2e8add5f5db143b4d4f
}

.tile--twozerofoureight {
  background-color: #EEC22E;
<<<<<<< HEAD
=======
  color: $white-font;
>>>>>>> a6209df8a54ea79d160ba2e8add5f5db143b4d4f
}

/* Id Selectors */
#animate {
  margin: auto;
  height: 100%;
  width: 100%;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game {
  margin: 25px;
}

#gameCells {
  margin: 0 10%;
}

#title {
  background-color: #FBEEC1;
}
/* Tag Selectors */

body {
  background-color: #FAF8EF;
}

button {}
